
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bài Tập Số 02</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/bai2.css" />
</head>

<body>
    <div class="container">
        <div class="top">
            <div class="left-container mg-30-20px">
                <div class="left-top w-150px">

                </div>
                <div class="left-middle w-150px mg-top-20px">
                    <div class="left-middle-item">
                    </div>
                    <div class="left-middle-item">
                    </div>
                    <div class="left-middle-item">
                    </div>
                    <div class="left-middle-item">
                    </div>
                    <div class="left-middle-item">
                    </div>
                </div>
                <div class="left-bottom w-150px mg-top-20px">
                    <div class="left-bottom-item">
                    </div>
                    <div class="left-bottom-item mg-top-20px">
                    </div>

                </div>

            </div>
            <div class="right-container mg-30-20px">
                <div class="right-container-top">
                    <div class="right-container-top-1">
                        <div class="right-container-top-1-floatbox">
                            <div class="right-container-top-1-white">

                            </div>
                            <div class="right-container-top-1-black">

                            </div>
                        </div>
                    </div>
                    <div class="right-container-top-2">
                        <div class="right-container-top-2-item border-white">
                        </div>

                        <div class="right-container-top-2-item border-white">
                        </div>

                        <div class="right-container-top-2-item border-white">
                        </div>

                        <div class="right-container-top-2-item">
                        </div>
                    </div>
                </div>
                <div class="right-container-middle margin-30px">
                    <div class="right-container-middle-blue">
                    </div>
                    <div class="right-container-middle-red">
                    </div>
                </div>
                <div class="right-container-bottom">
                    <div class="right-container-bottom-item">
                        <div class="right-container-bottom-item-top">
                        </div>
                        <div class="right-container-bottom-item-bottom mg-top-10px">
                        </div>
                    </div>
                    <div class="right-container-bottom-item">
                        <div class="right-container-bottom-item-top">
                        </div>
                        <div class="right-container-bottom-item-bottom mg-top-10px">
                        </div>
                    </div>
                    <div class="right-container-bottom-item">
                        <div class="right-container-bottom-item-top">
                        </div>
                        <div class="right-container-bottom-item-bottom mg-top-10px">
                        </div>
                    </div>
                    <div class="right-container-bottom-item">
                        <div class="right-container-bottom-item-top">
                        </div>
                        <div class="right-container-bottom-item-bottom mg-top-10px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer mg-30-20px">
        </div>

    </div>
</body>

</html>
