<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bài Tập Số 03</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/bai3.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="top">
            <div class="left-container mg-30-20px">
                <div class="left-top w-150px">
                    <img class="left-top" src="../static/images/bai3/page-logo.png">
                </div>
                <div class="left-middle w-150px mg-top-20px">
                    <div class="left-middle-item">
                        <img src="../static/images/bai3/icons/nav-tastemakers.png">
                        <p>Tastermakers</p>
                    </div>
                    <div class="left-middle-item">
                        <img src="../static/images/bai3/icons/nav-blog.png">
                        <p>Blog</p>
                    </div>
                    <div class="left-middle-item">
                        <img src="../static/images/bai3/icons/nav-alist.png">
                        <p>The A-List</p>
                    </div>
                    <div class="left-middle-item">
                        <img src="../static/images/bai3/icons/nav-contribute.png">
                        <p>Contribute</p>
                    </div>
                    <div class="left-middle-item">
                        <img src="../static/images/bai3/icons/nav-about.png">
                        <p>About</p>
                    </div>
                </div>
                <div class="left-bottom w-150px mg-top-20px">
                    <div class="left-bottom-item">
                        <div class="left-bottom-item-title">
                            Latest Tweet
                        </div>
                        <div class="left-bottom-item-button">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <p>Join the Conversation</p>
                        </div>
                    </div>
                    <div class="left-bottom-item">
                        <div class="left-bottom-item-title">
                            Let's be friends!
                        </div>
                        <p>For weekly finds, community recommendation, and more, like us on Facebook </p>
                        <div class="left-bottom-item-button">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <p>Join the Conversation</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="right-container mg-30-20px">
                <div class="right-container-top">
                    <div class="right-container-top-1">
                        <div class="right-container-top-1-floatbox">
                            <div class="right-container-top-1-white">
                                <p>Read, Learn, Share</p>
                            </div>
                            <div class="right-container-top-1-black">
                                <p>Get daily how-tos, stories & update with the latest news.</p>
                            </div>
                        </div>


                    </div>
                    <div class="right-container-top-2">
                        <div class="right-container-top-2-item border-white">
                            <p class="right-container-top-2-item-title">
                                Tastemakers
                            </p>
                            <p class="right-container-top-2-item-content">
                                Fearst your eyes & get recipes!
                            </p>
                        </div>

                        <div class="right-container-top-2-item border-white">
                            <p class="right-container-top-2-item-title">
                                Blog
                            </p>
                            <p class="right-container-top-2-item-content">
                                News, how-tos, stories, and more
                            </p>
                        </div>

                        <div class="right-container-top-2-item border-white">
                            <p class="right-container-top-2-item-title">
                                The A-List
                            </p>
                            <p class="right-container-top-2-item-content">
                                Handpicked, absolute favorites
                            </p>
                        </div>

                        <div class="right-container-top-2-item">
                            <p class="right-container-top-2-item-title">
                                Contribute
                            </p>
                            <p class="right-container-top-2-item-content">
                                We want to hear from you!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="right-container-middle margin-30px">
                    <div class="right-container-middle-blue">
                    </div>
                    <div class="right-container-middle-red">
                    </div>
                </div>
                <div class="right-container-bottom">
                    <div class="right-container-bottom-item">
                        <div class="right-container-bottom-item-top">
                        </div>
                        <div class="right-container-bottom-item-bottom mg-top-10px">
                        </div>
                    </div>
                    <div class="right-container-bottom-item">
                        <div class="right-container-bottom-item-top">
                        </div>
                        <div class="right-container-bottom-item-bottom mg-top-10px">
                        </div>
                    </div>
                    <div class="right-container-bottom-item">
                        <div class="right-container-bottom-item-top">
                        </div>
                        <div class="right-container-bottom-item-bottom mg-top-10px">
                        </div>
                    </div>
                    <div class="right-container-bottom-item">
                        <div class="right-container-bottom-item-top">
                        </div>
                        <div class="right-container-bottom-item-bottom mg-top-10px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer mg-30-20px">
        </div>

    </div>
</body>

</html>
