<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Đăng Ký Tài Khoản</title>
  </head>
  <body>
    <h1>Đăng Ký Tài Khoản</h1>
    <br>
    <form method="post">
      <label>Tên Đầy Đủ</label>
      <br>
      <input type="text" name="Name" value="">
      <br>
      <br>
      <label>Email</label>
      <br>
      <input type="text" name="Email" value="">
      <br>
      <br>
      <label>Tên Đăng Nhập</label>
      <br>
      <input type="text" name="Idsignin" value="">
      <br>
      <br>
      <label>Mật Khẩu</label>
      <br>
      <input type="text" name="Password" value="">
      <br>
      <br>
      <input type="submit" name="" value="submit">

    </form>
  </body>
</html>
