.container{
    height: 600px;
    width: 100%;
    background: url(https://images2.alphacoders.com/261/26102.jpg);
    background-repeat: no-repeat;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    background-position: center;
}

.teacher-title{
    width: 100%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
    font-size: 35px;
}

.teachers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.teacher-member-avatar{
    border: thin solid transparent;
    border-radius: 100%;
}

.teacher-member-name{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.teacher-member{
    margin: 0px 30px;
}
