.container{
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-container{
    width: 10%;
    margin-right: 100px;
}
.mg-30-20px{
    margin: 30px 20px;
}

.mg-top-20px{
    margin-top: 20px;
}

.w-150px{
    width: 150px;
}

.left-top{
    height: 150px;
    /* background-color: darkorange; */
}

.left-middle{
    height: 300px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mg-top-10px{
    margin-top: 10px;
}

.left-middle-item{
    height: 50px;
    width: 100%;
    /* background-color: darkcyan; */
    font-style: italic;
    color: #304ffe;

}

.left-middle-item img{
    margin: 5% 0px;
    float: left;
}

.left-middle-item p {
    float: left;
    margin-left:5px;
}

.left-bottom{
    height: 450px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.left-bottom-item{
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: center;
    /* background-color:  grey; */
}

.left-bottom-item-title{
    text-transform: uppercase;
    border-bottom: 2px dashed #e0e0e0;
    text-align: left;
    margin-bottom: 10px;
    padding: 3px;
}

.left-bottom-item-button{
    height: 40px;
    border: thin solid #e0e0e0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-bottom-item-button a img{
    float: left;
    margin-left: 5px;
    width: auto;
    height: 20px;
    color: #00b0ff;
}

.left-bottom-item p{
    font-style: italic;
}

.left-bottom-item-button p{
    font-size: 12px;
    font-style: italic;
    color: #00b0ff;
}

.fa-twitter{
    color: #00b0ff;
    margin-right: 5px;
}

.fa-facebook-f{
    color: #00b0ff;
    margin-right: 5px;
}

.right-container{
    width: 100%;
    margin-left:50px;
}

.right-container-top-1{
    display: flex;
    height: 445px;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../image/header.jpg);
}

.right-container-top-1-floatbox{
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.right-container-top-1-white{
    height: 40px;
    background-color: white;
    width: 250px;
}

.right-container-top-1-white p{
    margin: 5px;
    font-size: 25px;
    font-style: italic;
}

.right-container-top-1-black{
    height: 30px;
    background-color: black;
    width: 400px;
}

.right-container-top-1-black p{
    margin: 5px;
    font-size: 16px;
    font-style: italic;
    color: #ffffff;
}

.right-container-top-2{
    display: flex;
    justify-content: space-around;
}

.right-container-top-2-item{
    background-color: #59e6c31c;
    width:25%;
    height: 80px;
    color: #00b0ff;
    padding: 10px;
}

.right-container-top-2-item-title{
    font-weight: bold;
    font-size: 20px;
}

.right-container-top-2-item-content{
    font-style: italic;
    font-size: 12px;
    margin-top: 1px;
}

.border-white{
    border-right: 1px solid;
    border-right-color: rgb(135, 252, 236);
}

.right-container-middle{
    display: flex;
}

.right-container-middle-blue{
    /* background-color: lightblue; */
    height: 50px;
    width: 60%;
}

.right-container-middle-red{
    /* background-color: lightcoral; */
    height: 50px;
    width: 40%;
}

.margin-30px{
    margin: 30px 0px;
}

.right-container-bottom{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.right-container-bottom-item{
    height: 350px;
    width: 24%;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
}

.right-container-bottom-item-top{
    height: 30%;
    width: 100%;
    background-size:contain ;
    background-repeat: no-repeat;
    justify-content: center;
    background-position: center;
    border-style: dotted;
    border-width: thin;

}

.bg-1{
  background-image: url(../image/cookbooks-blog.jpg);
}

.bg-2{
  background-image: url(../image/potato.jpg);
}

.bg-3{
  background-image: url(../image/pinterest.jpg);
}

.bg-4{
  background-image: url(../image/dinner-blog.jpg);
}

.right-container-bottom-item-bottom{
    height: 70%;
    width: 100%;
}

.footer{
    /* background-color:  lightgrey; */
    width: 97%;
    height: 50px;
}
