/* selector {
  property: value ;
} */
/* tag name selector */
h1 {
  color: red;
}
h2 {
  color: blue;
}
/* id selector */
#heading-2 {
  color: green;
  font-family: 'Indie Flower', cursive;
  font-size: 40px
}
/* class selector */
.text-right {
  text-align: right
}
